body{
  background-repeat: no-repeat;
  background-size:cover;
}

.main-div{
	margin-top:150px;
	background-color: rgba(34,67,56,0.5);
	//min-width: 400px;
	padding-top: 30px;
	padding-bottom: 30px;
  border-radius: 20px;
}


td {
				//padding: 5px;
				min-width: 40px;
				min-heigth: 40px;
				border: 0px solid black;
}

button {
				background-color:rgba(0,0,0,0);
				min-width: 40px;
				min-height: 40px;
}

.duble-row-button{
				min-height: 80px;
}

.duble-col-button{
				min-width: 80px;
}

#display-div {
				width: 162px;
				height: 50px;
				border:2px solid black;
}

#display {
				text-align: right;
				font-size: 24px;
}

#subDisplay {
				font-size: 12px;
				min-heigth: 40px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;    
	font-weight: bold;
}

a:link {color: red; text-decoration: none; font-weight: bold; !important}
a:active {color: red; text-decoration: none; font-weight: bold;  !important}
a:visited {color: red; text-decoration: none; font-weight: bold; !important}
a:hover {color: red; text-decoration: none; font-weight: bold; !important}
