body{
  background-repeat: no-repeat;
  background-size:cover;
}

.main-div{
	margin-top:150px;
	background-color: rgba(34,67,56,0.5);
	min-width: 400px;
	padding-top: 80px;
	padding-bottom: 80px;
  border-radius: 20px;
}


td {
				//padding: 5px;
				min-width: 40px;
				min-heigth: 40px;
				border: 0px solid black;
}

button {
				background-color:rgba(0,0,0,0);
				min-width: 40px;
				min-height: 40px;
}
